md-card
  div(layout-gt-xs='row', layout-xs='column', layout-align='stretch center')
    div(layout='row', layout-align='start center')
      md-datepicker(ng-model='dateFrom', flex='100', md-placeholder='a partir da data', is-open='dateFromOpened', ng-click='dateFromOpened = true', filter-by="ultima_visitas | date:'dd/MM/yyyy'", filter-type='dateFrom', ng-change='gridActions.filter()')
    div(layout='row', layout-align='start center')
      md-datepicker(ng-model='dateTo', flex='100', md-placeholder='até à data', is-open='dateToOpened', ng-click='dateToOpened = true', filter-by="ultima_visitas | date:'dd/MM/yyyy'", filter-type='dateTo', ng-change='gridActions.filter()')
    div(layout='row', layout-align='center start', flex='100')
       md-input-container.md-block.flex(flex='')
        label(for='input_5') Pesquisar
        input#order.md-input(ng-model='dog', ng-change='gridActions.filter()', filter-by='dog ', filter-type='text', aria-invalid='false')
